:host {
  display: block;
}
*{
  box-sizing: border-box;
}

.request-url{
  font-family: "Open Sans", sans-serif;
  word-break: break-all;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  color: #282828;
  background-color: #f8f8f8;
  margin: 5px 0px 15px 0px;
  width: 100%;
}
