:host {
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

*{
  box-sizing: border-box;
}

.request-method{
  margin-right: 10px;
  &.get{
    color: #0CBB52
  }
}
.request-title{
  display: inline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #282828;
  font-size: 16px;
  margin: 0 10px 0 0;
}
